.page-wrapper {
    padding: 50px 20%;
}

hr {
    border: var(--background-lighter) 1px solid;
    margin: 25px 0;
    border-radius: 2px;
}

.news-post {
    margin-bottom: 60px;
    background-color: var(--background-light);
    padding: 40px;
    border-radius: 10px;
    justify-self: center;
    width: 100%;
    box-sizing: border-box;

    h2 {
        margin: 10px 0;
    }

    img, .yt-video {
        width: 100%;
        border-radius: 10px;
    }
}

.news-subtitle {
    color: var(--text-deactivated);
}

.latest-news-post {
    background-color: var(--background-light);
    width: fit-content;
    padding: 30px;
    border-radius: 10px;
    margin: 40px 0;

    img {
        width: 50vw;
        max-width: 650px;
        border-radius: 10px;
    }
}

.latest-news-subtitle {
    color: var(--text-deactivated);
    font-size: small;
    margin-bottom: 5px;
}