@import "colors.css";
@import "header.css";
@import "footer.css";
@import "hero.css";
@import "animIcons.css";
@import "buttons.css";
@import "news.css";

@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap&subset=latin-ext");

* {
    font-family: "Montserrat";
    color: var(--text);
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background);
    min-height: 100vh;
    position: relative;
    box-sizing: border-box;
}

.section {
    padding: 50px 10vw;

    h1 {
        font-size: 70px;
        margin-top: 0;
        margin-bottom: 10px;
    }

    p {
        line-height: 140%;
        font-size: 20px;
        margin-top: 0;
        color: var(--text-secondary)
    }

    p a {
        color: var(--text-link);
    }

    a {
        text-decoration: none;
    }
}

.section.light {
    background-color: var(--background-light);
}
